/* Common Variables */
:root {
    --b: #000000;
    --g: #808080;
    --w: #FFFFFF;
    --p: #FF2361;
    --pf: 'Outfit', sans-serif;
    --fs-s: 0.625rem;
    --fs-m: 1rem;
    --fs-l: 1.25rem;
    --br: 0.5rem;
    --lh: 100%;
    --gap: 0.5rem;
}


/* Tab Bar */
.tab-bar {
    position: fixed;
    width: 100%;
    height: 7.41vh;
    background: var(--b);
    bottom: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.07);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tab-bar .tab-btn {
    width: 33.33%;
    height: 100%;
    background: var(--b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-bar .tab-btn .icon {
    display: flex;
    align-items: center;
    background-size: contain;
    width: 1.6875rem;
    height: 1.4375rem;
    display: inline-block;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    color: var(--g);
}

.tab-bar .tab-btn.tab-rewards .icon {
    background-image: url('/icons/task.svg');
}

.tab-bar .tab-btn.tab-site .icon {
    background-image: url('/icons/home.svg');
}

.tab-bar .tab-btn.tab-friends .icon {
    background-image: url('/icons/friends.svg');
}

.tab-bar .tab-btn .text {
    font-family: var(--pf);
    font-weight: 600;
    font-size: var(--fs-s);
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--g);
    width: auto;
    height: auto;
    line-height: var(--lh);
}

/* Coin Icon */
.coin-icon {
  display: flex;
  width: 0.6875rem;
  height: 0.6875rem;
  background: url('/icons/gamecoin.svg') no-repeat center;
  background-size: contain;
}

.coinsamt-fr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.1875rem;
    height: 4.79vh;
    width: auto;
}

.coinsamt-fr .coin-icon {
    width: 0.9375rem;
    height: 0.9375rem;
}

.coinsamt-fr .text {
    font-family: var(--pf);
    font-weight: 600;
    text-align: center;
    font-size: var(--fs-m);
    line-height: var(--lh);
    width: auto;
    height: 100%;
    color: var(--w);
}

/* Screens */
.home-scr, .tasks-scr, .friends-scr, .loading-scr, .error-scr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: var(--b);
}

/* Loading Screen */
.loading-scr .text {
    align-self: center;
    font-family: var(--pf);
    font-weight: 600;
    font-size: var(--fs-m);
    line-height: var(--lh);
    color: var(--w);
}
    
/* Home Screen */
.home-scr .coins {
    width: auto;
    height: 4.79vh;
    top: 18.28%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
}

.home-scr .coins .coin-icon {
    width: 2.1875rem;
    height: 2.1875rem;
    background: url('/icons/gamecoin.svg') no-repeat center;
    background-size: contain;
}

.home-scr .coins .coin-amt {
    width: auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
    color: #FFFEFD;
    line-height: var(--lh);
}

.home-scr .mine-btn, .home-scr .8h-tmr, .home-scr .sell-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 84.87vw;
    height: 5.45vh;
    top: 80.83%;
    border-radius: var(--br);
}

.home-scr .mine-btn .text, .home-scr .8hr-tmr .text, .home-scr .sell-btn .text {
    font-family: var(--pf);
    font-weight: 600;
    text-align: center;
    font-size: var(--fs-m);
    line-height: var(--lh);
    width: auto;
    height: 32%;
}

.home-scr .mine-btn .text {
    justify-self: center;
    color: #1E1E1E;
}

.home-scr .8h-tmr {
    justify-content: space-between;
    box-sizing: border-box;
    background: #383838;
    border: 1px solid #E7E7E7;
    border-radius: var(--br);
}

.home-scr .8hr-tmr .frame {
    justify-content: flex-start;
    gap: var(--gap);
    font-family: 'Outfit';
    font-weight: 600;
    font-size: var(--fs-m);
    line-height: var(--lh);
    width: auto;
    height: 32%;
}

.home-scr .8h-tmr .frame .text.collecting, .home-scr .8h-tmr .frame .text.stone-amt, .home-scr .8h-tmr .text.tmr {
    color: #B3B3B3;
}

.home-scr .sell-btn {
    justify-content: center;
    background: var(--p);
}

.home-scr .sell-btn .text {
    color: #FFFFFF;
}

.home-scr .tab-bar {
    position: fixed;
    bottom: 0;
}

.home-scr .tab-bar .tab-btn.tab-site .icon,
.home-scr .tab-bar .tab-btn.tab-site .text {
    color: #FFFFFF;
}

/* Task Screen */
.tasks-scr {
    overflow-y: scroll;
}

.tasks-scr .login-fr {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    padding: 1% 2% 0;
    gap: 2%;
    position: absolute;
    width: 100vw;
    height: 21.56vh;
    top: 0;
    overflow-y: scroll;
}

.tasks-scr .login-fr .login-text {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    width: auto;
    height: auto;
    font-family: var(--pf);
    font-weight: 600;
    font-size: var(--fs-m);
    line-height: 20px;
    letter-spacing: 0.5px;
    color: var(--w);
}

.tasks-scr .login-fr .days {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90.29vw;
    height: 27.78vh;
    gap: 0.3125rem;
}

.tasks-scr .days .day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 0 1%;
    gap: 0.625rem;
    position: absolute;
    width: 13.04%;
    height: 100%;
    background: var(--b);
    border: 1px solid var(--w);
    border-radius: 0.625rem;
}

.tasks-scr .days .day .text {
    font-family: var(--pf);
    font-weight: 600;
    font-size: 0.6875rem;
    line-height: 0.625rem;
    letter-spacing: 0.03125rem;
    color: var(--w);
}

.tasks-scr .days .day .coinsamt-fr {
    width: 68.01%;
    height: 20%;
}

.tasks-scr .login-fr .claim-btn {
    position: absolute;
    width: 85%;
    height: 20.2%;
    background: #F5F5F5;
    border-radius: var(--br);
    bottom: 31.8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-scr .login-fr .claim-btn .text {
    width: auto;
    height: 1rem;
    font-family: var(--pf);
    font-weight: 600;
    font-size: var(--fs-m);
    line-height: var(--lh);
    color: #1E1E1E;
}

.tasks-scr .login-fr .24h-tmr {
    box-sizing: border-box;
    background: #383838;
    border: 1px solid #E7E7E7;
    border-radius: var(--br);
    width: 85%;
    height: 20.2%;
    bottom: 31.8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-scr .login-fr .24h-tmr .text {
    width: auto;
    height: 1rem;
    font-family: var(--pf);
    font-weight: 600;
    font-size: var(--fs-m);
    line-height: var(--lh);
    color: #B3B3B3;
}

/* Tasks List */
.tasks-scr .tasks-list {
    display: flex;
    flex-direction: column;
    width: 94.66vw;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    overflow-y: scroll;
}

.tasks-scr .tasks-list .task {
    width: 94.87%;
    height: 70px;
    background: #222222;
    border-radius: 15px;
    position: relative;
}

.tasks-scr .tasks-list .task .text {
    position: absolute;
    width: auto;
    height: 13px;
    left: 7.57%;
    top: calc(50% - 13px/2 - 6.37px);
    font-family: var(--pf);
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: var(--w);
}

.tasks-scr .tasks-list .task .coinsamt-fr {
    position: absolute;
    width: 9.73%;
    height: 15.71%;
    top: 54%;
    left: 7.57%;
}

.tasks-scr .tasks-list .task .buttons {
    position: absolute;
    width: 18.92%;
    height: 50%;
    right: 5.14%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 0.5rem;
}

.tasks-scr .tasks-list .task .buttons .text {
    display: flex;
    align-self: center;
    width: auto;
    height: auto;
    font-family: var(--pf);
    font-weight: 600;
    font-size: var(--fs-m);
    line-height: var(--lh);
    text-align: center;
}

.tasks-scr .tasks-list .task .buttons.go {
    background: var(--b);
}

.tasks-scr .tasks-list .task .buttons.go .text {
    color: var(--w);
}

.tasks-scr .tasks-list .task .buttons.progress {
    background: #383838;
}

.tasks-scr .tasks-list .task .buttons.progress .text {
    color: #B3B3B3;
}

.tasks-scr .tasks-list .task .buttons.claim {
    background: #F5F5F5;
}

.tasks-scr .tasks-list .task .buttons.claim .text {
    color: #1E1E1E;
}

.tasks-scr .tasks-list .task .buttons.completed {
    background: #383838;
}

.tasks-scr .tasks-list .task .buttons.completed .icon {
    background: url('/icons/completed.svg') no-repeat center;
    background-size: contain;
}

/* Failed Task Popup */
.tasks-scr .failed-popup {
    position: relative;
    width: 88.11vw;
    height: 5.56vh;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 2.1%;
    background: var(--b);
}

.tasks-scr .failed-popup .text {
    position: absolute;
    width: auto;
    height: auto;
    left: 2%;
    top: 1.5%;
    font-family: var(--pf);
    font-weight: 600;
    font-size: var(--fs-l);
    line-height: var(--lh);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.00625rem;
    color: var(--w);
}

.tasks-scr .tab-bar .tab-btn.tab-rewards .icon,
.tasks-scr .tab-bar .tab-btn.tab-rewards .text {
    color: #FFFFFF;
}

/* Friends Screen */
.friends-scr .frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100vw;
    height: 21.77vh;
    gap: 30px;
}

.friends-scr .frame .inv-text {
    width: 64.55%;
    height: auto;
    font-family: var(--pf);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: var(--lh);
    text-align: center;
    color: var(--w);
}

.friends-scr .frame .frame2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: auto;
    height: auto;
}

.friends-scr .frame .frame2 .send-btn, .friends-scr .frame .frame2 .copy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--p);
    border-radius: 10px;
}

.friends-scr .frame .frame2 .send-btn {
    position: absolute;
    width: 100px;
    height: 35px;
    left: calc(50% - 100px/2);
    top: calc(50% - 35px/2);
}

.friends-scr .frame .frame2 .send-btn .text {
    position: absolute;
    width: 41px;
    height: 16px;
    left: 29.5px;
    top: 9.5px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}

.friends-scr .frame .frame2 .copy-btn {
    position: absolute;
    width: 50px;
    height: 35px;
    left: calc(50% - 50px/2);
    top: calc(50% - 35px/2);
    background: #FF2361;
    border-radius: 10px;
}

.friends-scr .frame .frame2 .copy-btn .icon {
    background: url('/icons/copy.svg') no-repeat center;
    background-size: contain;
}

.friends-scr .tab-bar .tab-btn.tab-friends .icon,
.friends-scr .tab-bar .tab-btn.tab-friends .text {
    color: #FFFFFF;
}

/* Error Screen */
.errorpage .try-again {
    font-family: var(--pf);
    font-weight: 600;
    font-size: var(--fs-l);
    line-height: var(--lh);
    color: var(--w);
    height: auto;
    width: auto;
}

.errorpage .refresh-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;
    background: #383838;
    border-radius: 10px;
}

.errorpage .refresh-icon {
    background: url('/icons/refresh.svg') no-repeat center;
    background-size: contain;
}
