@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --b: #000000;
    --g: #808080;
    --w: #FFFFFF;
    --p: #FF2361;
    --pf: 'Outfit', sans-serif;
    --fs-s: 0.625rem;
    --fs-m: 1rem;
    --fs-l: 1.25rem;
    --br: 0.5rem;
    --lh: 100%;
    --gap: 0.5rem;
}

/* Tailwind Tab Bar Styles */
.tab-bar {
    @apply fixed w-full h-[7.41vh] bg-black bottom-0 border-t border-gray-200 flex flex-row justify-between items-center;
}

.tab-bar .tab-btn {
    @apply w-1/3 h-full bg-black flex flex-col items-center justify-center;
}

.tab-bar .tab-btn .icon {
    @apply flex items-center bg-contain bg-no-repeat w-6 h-6 mb-1 text-gray-400;
}

.tab-bar .tab-btn.tab-rewards .icon {
    background-image: url('/icons/brewards.svg');
}

.tab-bar .tab-btn.tab-site .icon {
    background-image: url('/icons/bsite.svg');
}

.tab-bar .tab-btn.tab-friends .icon {
    background-image: url('/icons/bfriends.svg');
}

/* Tab Button Text Styling */
.tab-bar .tab-btn {
    @apply font-sans font-semibold tracking-wide text-gray-400;
}

/* Coin Icon Styling */
.coin-icon {
    @apply flex w-2.5 h-2.5 bg-contain bg-no-repeat;
    background-image: url('/icons/gamecoin.svg');
}

/* Coin Amount Frame */
.coinsamt-fr {
    @apply flex flex-row items-center justify-start gap-1 h-[4.79vh];
}

.coinsamt-fr .coin-icon {
    @apply w-4 h-4;
}

.coinsamt-fr .text {
    @apply font-sans font-semibold text-base text-center text-white;
}
