/* Common Variables */
:root {
    --b: #000000;
    --g: #808080;
    --w: #FFFFFF;
    --p: #FF2361;
    --pf: 'Outfit', sans-serif;
    --fs-s: 0.625rem;
    --fs-m: 1rem;
    --fs-l: 1.25rem;
    --br: 0.5rem;
    --lh: 100%;
    --gap: 0.5rem;
}


/* Tab Bar */
.tab-bar {
    position: fixed;
    width: 100%;
    height: 7.41vh;
    background: var(--b);
    bottom: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.07);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tab-bar .tab-btn {
    width: 33.33%;
    height: 100%;
    background: var(--b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-bar .tab-btn .icon {
    display: flex;
    align-items: center;
    background-size: contain;
    width: 1.6875rem;
    height: 1.4375rem;
    display: inline-block;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    color: var(--g);
}

.tab-bar .tab-btn.tab-rewards .icon {
    background-image: url('/icons/task.svg');
}

.tab-bar .tab-btn.tab-site .icon {
    background-image: url('/icons/home.svg');
}

.tab-bar .tab-btn.tab-friends .icon {
    background-image: url('/icons/friends.svg');
}

.tab-bar .tab-btn .text {
    font-family: var(--pf);
    font-weight: 600;
    font-size: var(--fs-s);
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--g);
    width: auto;
    height: auto;
    line-height: var(--lh);
}

/* Coin Icon */
.coin-icon {
  display: flex;
  width: 0.6875rem;
  height: 0.6875rem;
  background: url('/icons/gamecoin.svg') no-repeat center;
  background-size: contain;
}

.coinsamt-fr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.1875rem;
    height: 4.79vh;
    width: auto;
}

.coinsamt-fr .coin-icon {
    width: 0.9375rem;
    height: 0.9375rem;
}

.coinsamt-fr .text {
    font-family: var(--pf);
    font-weight: 600;
    text-align: center;
    font-size: var(--fs-m);
    line-height: var(--lh);
    width: auto;
    height: 100%;
    color: var(--w);
}
