.home-scr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--b);
    overflow: hidden;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.coins {
    display: flex;
    align-items: center;
    gap: var(--gap);
    margin-top: 20px;
}

.coins .coin-icon {
    width: 2.1875rem;
    height: 2.1875rem;
    background: url('/icons/gamecoin.svg') no-repeat center;
    background-size: contain;
}

.coins .coin-amt {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
    color: #FFFEFD;
    line-height: var(--lh);
    margin-right: 0.5rem; /* Add spacing between the amount and the icon */
}

.mine-btn, 
.8h-tmr, 
.sell-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84.87vw;
    height: 5.45vh;
    border-radius: var(--br);
    margin-top: 20px;
}

.mine-btn .text, 
.8h-tmr .text, 
.sell-btn .text {
    font-family: var(--pf);
    font-weight: 600;
    text-align: center;
    font-size: var(--fs-m);
    line-height: var(--lh);
}

.mine-btn .text {
    color: #1E1E1E;
}

.8h-tmr {
    display: flex;
    justify-content: space-between;
    background: #383838;
    border: 1px solid #E7E7E7;
    border-radius: var(--br);
    padding: 10px;
}

.8h-tmr .frame {
    display: flex;
    gap: var(--gap);
    font-family: 'Outfit';
    font-weight: 600;
    font-size: var(--fs-m);
}

.8h-tmr .frame .text.collecting, 
.8h-tmr .frame .text.stone-amt, 
.8h-tmr .frame .text.tmr {
    color: #B3B3B3;
}

.sell-btn {
    background: var(--p);
}

.sell-btn .text {
    color: #FFFFFF;
}

.tab-bar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background: var(--bg-color);
}
