@tailwind base;
@tailwind components;
@tailwind utilities;

.home-scr {
  @apply fixed inset-0 flex flex-col items-center justify-center w-screen h-full bg-black overflow-hidden;
}

.coins {
  @apply flex items-center justify-center gap-2.5;
  margin-top: 25%;
}

.coins .coin-icon {
  @apply w-[35px] h-[35px] bg-contain bg-no-repeat;
  background-image: url('/icons/gamecoin.svg');
}

.coins .coin-amt {
  @apply font-sans font-bold text-4xl text-white;
}

.mainicon {
  @apply mx-auto w-auto max-h-[80vh] mt-5;
}

.mine-btn, 
.8h-tmr, 
.sell-btn {
  @apply flex items-center justify-center w-[85vw] h-[6vh] rounded mt-5;
}

.mine-btn .text, 
.8h-tmr .text, 
.sell-btn .text {
  @apply font-sans font-semibold text-center text-base;
}

.mine-btn .text {
  @apply text-black;
}

.8h-tmr {
  @apply flex justify-between bg-gray-700 border border-gray-200 rounded p-2;
}

.8h-tmr .frame {
  @apply flex gap-2.5 font-sans font-semibold text-base;
}

.8h-tmr .frame .text.collecting, 
.8h-tmr .frame .text.stone-amt, 
.8h-tmr .frame .text.tmr {
  @apply text-gray-400;
}

.sell-btn {
  bg-[url('sell-btn.svg')];
}

/* Tailwind Tab Bar based on Figma CSS */

.tab-bar {
  @apply fixed bottom-0 flex justify-between w-[412px] h-[68px] bg-black;
  border-top: 1px solid #171717;
}

.tab-btn {
  @apply relative w-[128px] h-full flex flex-col justify-center items-center bg-black;
}

.tab-rewards .icon {
  @apply w-[37px] h-[37px] mb-1 bg-[url('/icons/brewards.svg')] bg-no-repeat bg-center;
}

.tab-site .icon {
  @apply w-[27px] h-[27px] mb-1 bg-[url('/icons/asite.svg')] bg-no-repeat bg-center;
}

.tab-friends .icon {
  @apply w-[27px] h-[27px] mb-1 bg-[url('/icons/bfriends.svg')] bg-no-repeat bg-center;
}
