.home-scr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: var(--b);
    overflow: hidden; /* Prevent overflow */
}

.coins {
    display: flex;
    justify-content: center; /* Center coins */
    align-items: center;
    gap: var(--gap);
    margin-top: 20px; /* Optional margin for spacing */
}

.coins .coin-icon {
    width: 2.1875rem;
    height: 2.1875rem;
    background: url('/icons/gamecoin.svg') no-repeat center;
    background-size: contain;
}

.coins .coin-amt {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
    color: #FFFEFD;
    line-height: var(--lh);
}

.mine-btn, 
.8h-tmr, 
.sell-btn {
    display: flex;
    justify-content: center; /* Center content within buttons */
    align-items: center;
    width: 84.87vw; /* Adjust width as necessary */
    height: 5.45vh;
    border-radius: var(--br);
    margin-top: 20px; /* Add margin for spacing */
}

.mine-btn .text, 
.8h-tmr .text, 
.sell-btn .text {
    font-family: var(--pf);
    font-weight: 600;
    text-align: center;
    font-size: var(--fs-m);
    line-height: var(--lh);
}

.mine-btn .text {
    color: #1E1E1E;
}

.8h-tmr {
    display: flex;
    justify-content: space-between; /* Space out elements */
    background: #383838;
    border: 1px solid #E7E7E7;
    border-radius: var(--br);
    padding: 10px; /* Add padding for better appearance */
}

.8h-tmr .frame {
    display: flex;
    gap: var(--gap);
    font-family: 'Outfit';
    font-weight: 600;
    font-size: var(--fs-m);
}

.8h-tmr .frame .text.collecting, 
.8h-tmr .frame .text.stone-amt, 
.8h-tmr .frame .text.tmr {
    color: #B3B3B3;
}

.sell-btn {
    background: var(--p);
}

.sell-btn .text {
    color: #FFFFFF;
}

.tab-bar {
    position: fixed;
    bottom: 0;
    width: 100vw; /* Make sure tab bar stretches across the bottom */
    display: flex; /* Flex to layout buttons */
    justify-content: space-around; /* Evenly space buttons */
    padding: 10px 0; /* Add padding for aesthetics */
    background: var(--bg-color); /* Add a background color if needed */
}
