@tailwind base
@tailwind components
@tailwind utilities

.tasks-scr {
    @apply relative flex justify-center items-start flex-col w-screen h-screen bg-[var(--b)] overflow-y-scroll;
}

/* Login Frame */
.tasks-scr .login-fr {
    @apply flex flex-col justify-between items-start p-[1%] px-[2%] w-screen h-[21.56vh] absolute top-0 overflow-y-scroll gap-[2%];
}

/* Login Text */
.tasks-scr .login-fr .login-text {
    @apply flex justify-start w-auto h-auto font-pf font-semibold text-[var(--fs-m)] leading-[20px] tracking-[0.5px] text-white;
}

/* Days Row */
.tasks-scr .days {
    @apply flex flex-row justify-start items-center w-[90.29vw] h-[27.78vh] gap-[0.3125rem];
}

/* Each Day */
.tasks-scr .days .day:nth-child(1) {
    @apply bg-no-repeat bg-center bg-contain;
    background-image: url('/icons/d1.svg');
}

.tasks-scr .days .day:nth-child(2) {
    @apply bg-no-repeat bg-center bg-contain;
    background-image: url('/icons/d2.svg');
}

.tasks-scr .days .day:nth-child(3) {
    @apply bg-no-repeat bg-center bg-contain;
    background-image: url('/icons/d3.svg');
}

.tasks-scr .days .day:nth-child(4) {
    @apply bg-no-repeat bg-center bg-contain;
    background-image: url('/icons/d4.svg');
}

.tasks-scr .days .day:nth-child(5) {
    @apply bg-no-repeat bg-center bg-contain;
    background-image: url('/icons/d5.svg');
}

.tasks-scr .days .day:nth-child(6) {
    @apply bg-no-repeat bg-center bg-contain;
    background-image: url('/icons/d6.svg');
}

.tasks-scr .days .day:nth-child(7) {
    @apply bg-no-repeat bg-center bg-contain;
    background-image: url('/icons/d7.svg');
}

/* Claim Button */
.tasks-scr .login-fr .claim-btn {
    @apply absolute w-[85%] h-[20.2%] bg-gray-200 rounded-[var(--br)] bottom-[31.8%] flex justify-center items-center;
}

.tasks-scr .login-fr .claim-btn .text {
    @apply w-auto h-4 font-outfit font-semibold text-[var(--fs-m)] leading-[var(--lh)] text-[#1E1E1E];
}

/* 24h Timer */
.tasks-scr .login-fr .24h-tmr {
    @apply box-border bg-gray-600 border border-gray-200 rounded-[var(--br)] w-[85%] h-[20.2%] bottom-[31.8%] flex justify-center items-center;
}

.tasks-scr .login-fr .24h-tmr .text {
    @apply w-auto h-4 font-pf font-semibold text-[var(--fs-m)] leading-[var(--lh)] text-gray-400;
}

/* Tasks List */
.tasks-scr .tasks-list {
    @apply flex flex-col w-[94.66vw] h-auto justify-center items-start gap-2.5 overflow-y-scroll;
}

/* Each Task in the List */
.tasks-scr .tasks-list .task {
    @apply w-[94.87%] h-[70px] bg-[#222222] rounded-[15px] relative;
}

/* Task Text */
.tasks-scr .tasks-list .task .text {
    @apply absolute w-auto h-3 left-[7.57%] top-[50%] transform translate-y-[-50%] font-pf font-bold text-[0.8125rem] leading-none flex items-center text-white;
}

/* Coins Amount Frame in Task */
.tasks-scr .tasks-list .task .coinsamt-fr {
    @apply absolute w-[9.73%] h-[15.71%] top-[54%] left-[7.57%];
}

/* Task Buttons */
.tasks-scr .tasks-list .task .buttons {
    @apply absolute w-[18.92%] h-[50%] right-[5.14%] flex justify-center items-center border rounded-lg;
}

.tasks-scr .tasks-list .task .buttons .text {
    @apply font-pf font-semibold text-[var(--fs-m)] leading-[var(--lh)] text-center;
}

/* Task Button Types */
.tasks-scr .tasks-list .task .buttons.go {
    @apply bg-[var(--b)];
}

.tasks-scr .tasks-list .task .buttons.go .text {
    @apply text-white;
}

.tasks-scr .tasks-list .task .buttons.progress {
    @apply bg-gray-600;
}

.tasks-scr .tasks-list .task .buttons.progress .text {
    @apply text-gray-400;
}

.tasks-scr .tasks-list .task .buttons.claim {
    @apply bg-gray-200;
}

.tasks-scr .tasks-list .task .buttons.claim .text {
    @apply text-[#1E1E1E];
}

.tasks-scr .tasks-list .task .buttons.completed {
    @apply bg-gray-600;
}

/* Completed Task Icon */
.tasks-scr .tasks-list .task .buttons.completed .icon {
    @apply bg-[url('/icons/completed.svg')] bg-no-repeat bg-center bg-contain;
}

/* Failed Task Popup */
.tasks-scr .failed-popup {
    @apply relative w-[88.11vw] h-[5.56vh] bg-[var(--b)] rounded-[0.625rem] flex justify-center items-start mt-[2.1%];
}

.tasks-scr .failed-popup .text {
    @apply absolute w-auto h-auto left-[2%] top-[1.5%] font-pf font-semibold text-[var(--fs-l)] leading-[var(--lh)] tracking-[0.00625rem] text-white;
}

/* Tab Bar Rewards */
.tasks-scr .tab-bar .tab-btn.tab-rewards .icon,
.tasks-scr .tab-bar .tab-btn.tab-rewards .text {
    @apply text-white;
}
